
a {
    color: #F7F9F9;
    text-decoration: none;
    font-size: 45px;
    text-align: center;
}

a:hover {
    color: #F7F9F9;
    text-decoration: none;
    text-align: center;
}

.fade-out-loader {
  opacity: 0;
}

@keyframes fadeInPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes line {
    from {
      width:0vw;
    }
    to {
      width:92vw;
    }

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
  50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-webkit-keyframes swing {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}

@keyframes swing {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}


.portrait-container::before {
  width:0;
  height:0;
  visibility:hidden;
}

.portrait-container:hover .portrait
{
  -webkit-animation: swing 1s ease-in-out;
  animation: swing 1s ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
