html  {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden; 
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    margin: 0px;
    padding: 0px;

    background: linear-gradient(106deg, rgba(38,113,113,1) 0%, rgb(32, 29, 87) 47%, rgba(77,17,85,1) 71%, rgba(155,49,146,1) 100%);
	background-size: 300% 500%;
	animation: gradient 13s ease-in-out infinite;
	height: 100vh;
    overflow: auto;
    overflow-x: hidden;
}

.main-content {
    transform: translate3d(0,0,0);
}

.fixed-slide-height {
    height: 90vh;
}

.colorsection {
    background-color: rgba(17, 14, 68, 0.3);
}

.boxshadow {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 4px 8px 0px, rgba(14, 30, 37, 0.32) 0px -4px 64px 0px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(17, 14, 68, 0.4);
}

::-webkit-scrollbar-thumb {    
    background: rgba(77, 17, 85, 0.85); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(50, 9, 56, 0.9);
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}
  
.center-load {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    z-index: 1001;

    transition: 300ms opacity ease-in-out;
}

.portrait {
    width: 100%;
    border-radius: 50%;
    transition: 0.3s ease;
}

.fixed-button-height {
    height: 70px;
}

.no-leftright-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
    z-index: 0;
}

.no-leftright-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.info-topbottom-padding {
    padding-top: 4px;
    padding-bottom: 4px;
}

.right-side-margin {
    margin-right: 5%;
}

.left-side-margin {
    margin-left: 5%;
}

.both-left-right-margin {
    margin-left: 5%;
    margin-right: 5%;
}

.tinyspacer {
    height: 2vh;
}

.xs-spacer {
    height: 5vh;
}

.fontspacer {
    height: 7px;
}

.smallspacer {
    height: 7vh;
}

.div-dependent-spacer {
    height: 50%;
}

.medspacer {
    height: 10vh;
}

.largespacer {
    height: 15vh;
}

hr {
    width: 0vw;
    height: 2px;
    color: #F7F9F9;
    background-color: #F7F9F9;
    animation: line 1s linear forwards;
}

.bottom-rule hr {
    bottom: 0;
    margin: auto !important;
    margin-bottom: 0;
    padding: auto !important;
    padding-bottom: 0;
    width: 90vw;
    height: 2px;
    color: #F7F9F9;
    background-color: #F7F9F9;
}

.white-background {
    background-color: #325E70;
}

#title:animate {
    animation: ease-in-out 1.5s;
}

.progress {
    height: 7px;
    background: #F7F9F9;
    border-radius: 3px;
    box-shadow: none;
    overflow: visible;
}

.progress .progress-bar {
    box-shadow: none;
    border-radius: 3px;
    position: relative;
}

.phonespacer {
    height: 0px;
}

@media only screen and (max-width: 775px){
    /* CSS that should be displayed if width is equal to or less than 775px goes here */
    .portrait {
        width: 50%;
        display:block; 
        margin:auto;
    }

    .phonespacer {
        height: 4vh;
    }
}