.bold {
    color: #FFC100;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.averia {
    font-family: 'M PLUS 2', sans-serif;
}

h1 {
    font-weight: bold;
    text-align: center;
    color: #FFC100;
    font-size: 50px;
}

.title {
    font-weight: bold;
    text-align: center;
    color: #FFC100;
    font-size: 7vh;
}

.mainheader {
    font-size: 4.5vh;
}

h2, h3, h4, h5, h6, p {
    color: #F7F9F9;
    padding: 4px;
    margin-bottom: 0;
}

hr {
    border: none;
    height: 2px;
    color: #F7F9F9;
    background-color: #F7F9F9;
}

.center {
    text-align: center;
}

.right {
    text-align: end;
}

.left {
    text-align: left;
}

.auto-margin-text {
    margin: auto;
}

.top-spacing-small {
    margin-top: 5%;
}

@media only screen and (max-width: 775px){
    /* CSS that should be displayed if width is equal to or less than 775px goes here */

    .top-spacing-large {
        margin-top: 10%;
    }
}