.bold {
    color: #FFC100;
}

.body-font {
    font-family: 'Roboto', sans-serif;
}

form, input, label {
    font-family: 'Roboto', sans-serif;
    color: #F7F9F9 !important;
}

.title-font {
    font-family: 'Playball', cursive;
    letter-spacing: 3px;
}

.title {
    font-weight: bold;
    text-align: center;
    color: #FFC100;
    font-size: 56px;
}

h1 {
    font-weight: bold;
    text-align: center;
    color: #FFC100;
}

h2, h3, h4, h5, h6, p {
    color: #F7F9F9;
    margin-bottom: 4px;
}

h2 {
    font-size: 28px;
}

.mainheader {
    font-size: 35px;
}

.info-link {
    color: #F7F9F9;
    text-decoration: none;
    font-size: 54px;
    text-align: center;
    transition: .4s ease-in-out;
}

.info-link:hover {
    color: #F7F9F9;
    text-decoration: none;
    text-align: center;
    font-size: 60px;
}

hr {
    border: none;
    height: 2px;
    color: #F7F9F9;
    background-color: #F7F9F9;
}

.center {
    text-align: center;
}

.right {
    text-align: end;
}

.left {
    text-align: left;
}

.auto-margin-text {
    margin: auto;
}

.top-spacing-small {
    margin-top: 5%;
}

@media only screen and (max-width: 775px){
    /* CSS that should be displayed if width is equal to or less than 775px goes here */

    .top-spacing-large {
        margin-top: 10%;
    }
}