.skills-item {
    background-color: rgba(17, 14, 68, 0.2);
    border: none !important;
    color: #F7F9F9;
}

.skills-button {
    background-color: rgba(17, 14, 68, 0.2) !important;
    color: #F7F9F9 !important;
    font-size: 20px !important;
}

.accordion {
    border-radius: 5% !important;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    padding: none !important;
}

.accordion-button:focus, .accordion-button:active {
    outline: none !important;
    box-shadow: none !important;
}

ol li {
    list-style-type: none;
    counter-increment: item;
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 17px;
}

ol {
    margin-bottom: 0 !important;
    padding-left: 3px !important;
}

ol li:before {
    content: counter(item);
    margin-right: 3px;
    padding: 3px 8px;
    color: #FFC100;
    font-weight: bold;
}

.custom-carousel {
    height: 70vh;
}